@using HamburgerAppV1.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link mt-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color: rgb(255, 217, 102)"><b>Merhaba @User.Identity?.Name</b></a>
        </li>
        <li class="nav-item">
            <form class="form-inline btn btn-outline-light rounded-2 fw-bold" asp-area="Identity" asp-page="/Account/Logout"  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link" style="color: rgb(255, 217, 102)">Çıkış Yap</button>
            </form>


            
        </li>

    }
    else
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item me-2">
                <a class="nav-link rounded-2 fw-bold btn btn-outline-light" style="color: rgb(255, 217, 102)"
                   asp-page="/Account/Register" asp-area="Identity">Kayıt Ol</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item me-2">
                <a class="nav-link rounded-2 fw-bold btn btn-outline-light" style="color: rgb(255, 217, 102)"
                   asp-page="/Account/Login" asp-area="Identity">Giriş Yap</a>
            </li>
        </ul>
    }
</ul>