@using HamburgerAppV1.Entities
@model List<Menu>

@{
    ViewBag.Title = "Lezzet Dünyasına Yolculuk: Menülerimiz";
}



<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="d-flex mb-2 justify-content-end">
        <a class="btn btn-success mx-2" asp-controller="Siparis" asp-action="Create">Sipariş Oluştur</a>
        <a class="btn btn-primary" asp-controller="Siparis" asp-action="Index">Siparişlerim</a>
    </div>

    <table class="table">
        <thead>
        <th>Menü</th>
        <th>Fiyat</th>
        <th>Resim
        <tbody>
                    @foreach (var menu in Model)
                    {
                <tr>
                    <td>@menu.MenuAd</td>
                    <td>@menu.MenuFiyat ₺</td>
                    <td><img src="~/img/@menu.ResimYolu" alt="" height="64"></td>
                </tr>
                    }
        </tbody>
    </table>

</div>