@using HamburgerAppV1.Entities
@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>

<h2>Kayıtlı Kullanıcılar</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Kullanıcı Adı
            </th>
            <th>
                E-Posta
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName  
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>