@{
    ViewData["Title"] = "Hakkımızda";
}
<div class="container col-md-8">
    <h2 class="mt-3 fw-bold">Hoş Geldiniz!</h2>
    <div class="fs-3 mt-4">
        <p>
            Biz, lezzetli ve doyurucu hamburgerler sunan bir dükkanız. Lezzet tutkumuz ve misafirperverliğimizle biliniyoruz. Müşterilerimize her bir ısırıkta mutluluk ve tatmin hissi yaşatmayı amaçlıyoruz.
        </p>
        <p>
            Hikayemiz, bir tutku ve bir vizyonla başladı. Yıllar önce, en kaliteli malzemeleri kullanarak insanlara mükemmel hamburgerler sunma hayalini kurduk. Bugün, bu hayal gerçeğe dönüştü ve siz değerli misafirlerimizin damaklarında unutulmaz bir tat bırakıyoruz.
        </p>
        <p>
            Kalitemizden ödün vermeden, en taze ve en lezzetli malzemeleri seçiyoruz. Hamburgerlerimizi hazırlarken hijyen ve güvenlik standartlarına en üst düzeyde özen gösteriyoruz. Müşteri memnuniyeti bizim için en önemli önceliktir ve her zaman en iyisini sunmaya adanmış bir ekibimiz var.
        </p>
        <p>
            Dükkanımız sadece bir yemek yeri değil, aynı zamanda bir buluşma noktasıdır. Aileler, arkadaşlar ve iş arkadaşları burada bir araya gelir, güzel zaman geçirir ve lezzetli
            yemeklerin tadını çıkarır.
        </p>
        <p>
            Sizleri, lezzetli hamburgerlerimizi denemeye ve bizimle bu lezzetli yolculuğa katılmaya davet ediyoruz. Enerjimizi, tutkumuzu ve misafirperverliğimizi size sunmaktan mutluluk duyacağız.
        </p>
        <p>
            Sağlıklı ve lezzet dolu günler dileriz!
        </p>
    </div>
</div>